APP_ENV=dev
APP_DEBUG=true
APP_C3=false
APP_HOST_PATH=

APP_CORS_ORIGINS=https://student.rsatu.ru,https://teacher.rsatu.ru,https://admin.rsatu.ru

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=rgatu_student
DB_USER=rgatu
DB_PASSWORD=change-me
